body {
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
    text-decoration: underline;
}
p {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
}

ul {
    font-style: unset;
    line-height: 50px;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}